<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>services</title>

    <!-- Bootstrap -->
    <link href="../static_in_pro/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static_in_pro/bootstrap/css/base.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body class="bodyDiv" style="font-family: yekan">
<!--navbar-->
<div class="container-fluid" style="margin-bottom: -20px">
    <nav class="navbar-row row navbar navbar-inverse navbar-default navbar-static-top ">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <button type="button" class="navbar-toggle collapsed " data-target=".navbar-collapse"
                        data-toggle="collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="text-align: right">
                <ul class="nav_ul nav navbar-nav navbar-right">

                    <li class="my-nav-margin"><a href="#">اطلاعات تماس با ما <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="my-nav-margin"><a href="#">اخبار </a></li>
                    <li class="dropdown my-nav-margin">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">خدمات <span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-right">
                            <li style="text-align: right"><a id='hideshow1' href="#content1">
                                طراحی شبکه
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li style="text-align: right"><a id='hideshow2' href="#content2">
                                طراحی نرم افزار
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li style="text-align: right"><a id='hideshow3' href="#content3">
                                امنیت شبکه
                            </a></li>
                        </ul>
                    </li>

                    <li class="my-nav-margin"><a href="#">درباره ی ما</a></li>
                    <li class="my-nav-margin"><a href="base.html">صفحه اصلی </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row" id="content1">
        <div class=" service well well-lg">
            <h1 class="serv-h" style="text-align: right">
                طراحی شبکه
            </h1>
            <p class="serv_p" style="text-align: right">

استفاده از شبکه‌هـای کامپیوتری در چندین سال اخیر رشد و به موازات آن سازمان‌هـا و موسسات متعددی اقدامـ به برپاسازی شبکه نموده اند. هر شبکه کامپیوتری میبایست با توجه به شرایط و سیاست‌هـای هر سازمان، طراحی و در ادامه پیاده سازی گردد.شبکه‌هـا‌ی کامپیوتری زیرساخت لـازمـ برای استفاده از منابع فیزیکی و منطقی را در یک سازمان فراهمـ مینمایند. بدیهی است در صورتی که زیرساخت فوق به درستی طراحی نگردد، در زمان استفاده از شبکه با مشکلـات متفاوتی برخورد نموده و میبایست هزینه‌هـای زیادی به منظور نگهداری و تطبیق آن با خواسته‌هـا‌ی مورد نظر( جدید)، صرف گردد ( اگر خوش شانس باشیمـ و مجبور نشویمـ که از اول همه چیز را مجددا" شروع نمائیمـ!). یکی از علل اصلی در بروز اینچنین مشکلـاتی، به طراحی شبکه پس از پیاده سازی آن برمی گردد. ( در ابتدا شبکه را پیاده سازی مینمائیمـ و بعد سراغ طراحی میرویمـ! ).

برپاسازی هر شبکه کامپیوتری تابع مجموعه سیاست‌هـائی است که با استناد به آنان در ابتدا طراحی منطقی شبکه و در ادامه طراحی فیزیکی، انجامـ خواهد شد. پس از اتمامـ مراحل طراحی، امکان پیاده سازی شبکه با توجه به استراتژی تدوین شده، فراهمـ میگردد.

در زمان طراحی یک شبکه، سوالـات متعددی مطرح میگردد:

▪ برای طراحی یک شبکه از کجا میبایست شروع کرد ؟

▪ چه پارامترهائی را میبایست در نظر گرفت ؟

▪ هدف از برپاسازی یک شبکه چیست ؟

▪ انتطار کاربران از یک شبکه چیست ؟

▪ آیا شبکه موجود ارتقاء مییابد و یا یک شبکه از ابتدا طراحی میگردد ؟

▪ چه سرویس‌هـا و خدماتی بر روی شبکه، ارائه خواهد شد ؟

و...

سوالـات فوق، صرفا" نمونه‌هـائی در این زمینه بوده که میبایست پاسخ آنان متناسب با واقعیت‌هـای موجود در هر سازمان، مشخص گردد. ( یکی از اشکالـات ما استفاده از پاسخ‌هـای ایستا در مواجهه با مسائل پویا است!).
            </p>
        </div>
    </div>
    <div class="row" id="content2">
        <div class=" service well well-lg">
            <h1 class="serv-h" style="text-align: right">
                طراحی نرم افزار
            </h1>
             <p class="serv_p" style="text-align: right">
یکی از توانایی های ما تحلیل سیستم ها و تولید نرم افزارهایی، منطبق بر روال ها و نیازهای شماست. با توجه به توسعه روز افزون فناوری اطلاعات در تمامی فعالیت های روزمره مردم، پیوستن به دنیای تکنولوژی و فناوری اطلاعات بخش جدایی ناپذیر از یک فعالیت تجاری موفق است. مدیریت اطلاعات و اسناد، گردش اطلاعات، ارتباط با مشتریان و مصرف کنندگان، اطلاع رسانی، زمانبندی، گزارش گیری، نمودارهای آماری و... علاوه بر مدیریت بهتر فعالیت اقتصادی و مجموعه شما، به کاهش هزینه ها کمک خواهد کرد و با افزایش کیفیتِ ارائه خدمات، موجب رضایت مندی مشتری خواهد شد. ما در این راه همراه شما خواهیم بود و با تحلیل دقیق فعالیت های شما سامانه ای کارآمد و منطبق بر نیازهای شما طراحی و پیاده سازی و پشتیبانی خواهیم کرد.

            </p>
        </div>
    </div>
    <div class="row" id="content3">
        <div class=" service well well-lg">
            <h1 class="serv-h" style="text-align: right">
                امنیت شبکه
            </h1>
             <p class="serv_p" style="text-align: right">
حفاظت، پشتیبانی و نگهداری از داده های رایانه ای،اطلاعات مهم،برنامه های حساس و نرم افزارهای مورد نیاز و یا هر چیزی که مورد اهمیت باشد امنیت رایانه ای می گویند. عوامل رازداری confidentiality و یکپارچگی integrity و در دسترس بودن availability مثلث امنیتی شبکه را تشکیل می دهند.

   با توجه به خطراتی که امروزه در دنیای اطلاعاتی تمام شرکت ها و سازمان ها را تهدید میکند نیاز به یک شبکه امن و سیستمی کاملا محفوظ و قابل اعتماد کاملا ملموس می باشد. امنیت شبکه های تجاری Enterprise Network نیازی میباشد که امروزه تمام شرکت ها در سطوح مختلف آن را درک کرده و دغدغه ی آن دارند که در دنیای مجازی بدون ریسک و خطر اطلاعات مورد نیاز خود را منتقل سازند. با توجه به شناخت متخصصان شرکت سرعت گستر نور به اهمیت این موضوع و آگاهی از وضعیت شبکه شما و مشخص شدن نیازهای کارفرما اقدام به معرفی فایروال های سخت افزاری و نرم افزاری می نماید و همچنین با لایه بندی شبکه درخواست کننده و استفاده از راه کارهای پیشنهادی و به روز مایکروسافت در زمینه نرم افزار بستر شبکه را تا حد ممکن امن  می نماید به طوری که شما میتوانید سیستمی امن با بالاترین درجه امنیتی تحویل گرفته و در زمینه پشتیبانی هیچ گونه دغدغه ای نداشته باشید.

   تیم شبکه سرعت گستر نور تخصص لازم و کافی را برای محافظت از شبکه و اطلاعات در مقابل تهدیدهای داخلی و خارجی دارد. امروزه امنیت اطلاعات با اهمیت تر از هر زمان دیگری است. در حال حاضر ابزار هک به طور گسترده ای در دسترس می باشد، شبکه شما نیاز به هر نوع تمهیدی برای مقابله با تهدید های داخلی و خارجی دارد. برای مقابله با چنین نگرانی هایی میتوانید به  ما اعتماد کنید.

            </p>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static_in_pro/bootstrap/js/bootstrap.min.js"></script>
{#<script>#}
{#    $(document).ready(function () {#}
{#        $("#hideshow1").click(function () {#}
{#            $('#content2').toggle();#}
{#            $('#content3').toggle();#}
{#        });#}
{#         $('#hideshow2').click(function () {#}
{#            $('#content1').toggle();#}
{#        });#}
{#          $('#hideshow3').click(function () {#}
{#            $('#content3').toggle();#}
{#        });#}
{#    });#}
{##}
{#</script>#}

</body>
</html>